<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="We bring cutting-edge thinkers from aviation, engineering and technology together to form the global innovation center of Delta Air Lines. As a team, we aim to establish an enterprise-wide practice of human-centered design — improving employee fulfillment and customer satisfaction, solving real industry problems and shaping the future of aviation.">
	<meta name="keywords" content="Deltahangar, delta hangar, Delta Air Lines, Innovation, Delta Innovation Center, Delta Innovation, The Hanger, Delta Global Innovation Center, Delta Innovation Lab, Delta Innovation Studio, Innovation Lab, Innovation Studio, Delta Georgia Tech, Delta Tech Square, Delta Georgia Institute of Technology, Delta Midtown, Delta Atlanta Midtown, Delta Atlanta, Delta Georgia">
	<meta name="author" content="Delta AIr Lines, Inc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=yes">
<link rel="shortcut icon" href="{{ site.baseurl }}/img/Delta_favicon128.ico">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/response.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />

<link rel="stylesheet" href="{{ site.baseurl }}/fonts/deltahangar/stylesheet.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/fonts/deltahangar/sourcecode/stylesheet_2.css" />
<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>

<script src="{{ site.baseurl }}/js/deltahangar/jquery.js"></script>

<script src="{{ site.baseurl }}/js/deltahangar/plugins.js"></script>
<script src="{{ site.baseurl }}/js/deltahangar/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/deltahangar/jquery.parallax.js"></script>
<script src="{{ site.baseurl }}/js/deltahangar/custom.js"></script>

<script src="{{ site.baseurl }}/js/main.js"></script>