<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
     <div class="col-md-12 col-sm-12 bottomPading">	
		<div class="col-md-4 col-sm-6">	
			<div class="">
				<a href="index.html"> <img src="{{ site.baseurl }}/img/footer_logo.png" alt="FooterLogo">		</a>	
			</div>
		</div>

      <div class="col-sm-8 paddingmesaure">
		<div class="imageTitleLoc"> 
		<ul id="menu">
			<li><span class="footerlinks"><a class="footerlinks" target="_blank" href="http://www.delta.com/">Delta.com</a></span></li>
			<li><span class="footerlinks"><a class="footerlinks" target="_blank" href="http://news.delta.com/">News Hub</a></span></li>
			<li><span class="footerlinks"><a class="footerlinks" target="_blank" href="http://www.delta.com/content/www/en_US/legal.html">Legal</a></span></li>
			<li><span class="footerlinks"><a class="footerlinks" href="mailto:innovation@delta.com?Subject=Delta The Hangar - Contact Us">Contact Us </a></span></li>
		</ul>
		</div>
      </div>
               
      </div>
	  
    </div>
  </div>
  <div class="copyrighttext">Copyright ©2017 Delta Air Lines, Inc. All right reserved</div>
</footer>
